<html>
  <body>
    <h1><%= @@titulo %></h1>
    <h2><%= @@sub_titulo %></h2>
    <p><%= @@guiones %></p>

    <p>Recibí letra <%= @letraRecibida%></p>

    <form action="/" method="post">
    <label>Introduce una letra:</label>
    <input type="text" name="inputLetra" id="inputLetra"/>

    <input type="submit" value="Enviar" name="Enviar"/>
</form>
 <label><%=  @textoHaganado%></label>
    
  </body>
</html>
